# see https://github.com/rstudio/vetiver-python/blob/main/.github/workflows/docs.yml
name: "docs"

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
  release:
    types: [published]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .[docs]
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: build docs
        working-directory: docs
        run: |
          python -m quartodoc build --verbose
          python -m quartodoc interlinks
          quarto render
      - name: save docs
        uses: actions/upload-artifact@v3
        with:
          name: docs-html
          path: docs/_site
      - name: Configure pull release name
        if: ${{github.event_name == 'pull_request'}}
        run: |
          echo "RELEASE_NAME=pr-${PR_NUMBER}" >> $GITHUB_ENV
        env:
          PR_NUMBER: ${{ github.event.number }}
      - name: Configure branch release name
        if: ${{github.event_name != 'pull_request'}}
        run: |
          # use branch name, but replace slashes. E.g. feat/a -> feat-a
          echo "RELEASE_NAME=${GITHUB_REF_NAME/\//-}" >> $GITHUB_ENV
      - name: publish dev docs
        if: github.ref_name == 'main' && github.ref_type == 'branch'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_site
          publish_branch: gh-pages
          destination_dir: dev
      - name: publish stable docs
        if: github.ref_type == 'tag' && startswith(github.ref, 'refs/tags/v')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_site
          publish_branch: gh-pages
          destination_dir: ${{ github.ref_name }}
      - name: create symlink stable to new version
        if: github.ref_type == 'tag' && startswith(github.ref, 'refs/tags/v')
        run: |
          rm -if latest
          ln -s ${{ github.ref_name }} latest
          ls -la
